@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Add the Avenir font family */
:root {
  --font-primary: "Avenir", sans-serif;
  --font-secondary: "Avenir", sans-serif;
}

/* Apply the Avenir font to headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

/* Apply the Avenir font to the body */
body {
  font-family: var(--font-secondary);
}

pre {
  font-family: var(--font-secondary);
}

